Repository grll/mypython: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pyright, claude-markdown

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
    # run ruff linter with fix
    - id: ruff-check
      name: ruff check
      entry: .venv/bin/ruff check
      language: system
      types_or: [python, pyi]
      args: [--fix]
      require_serial: true

    # run ruff formatter
    - id: ruff-format
      name: ruff format
      entry: .venv/bin/ruff format
      language: system
      types_or: [python, pyi]
      require_serial: true

    # run mypy with strict mode using locally installed mypy
    - id: mypy
      name: mypy
      entry: .venv/bin/mypy
      language: system
      types: [python]
      args: [--strict]

    # run pyright with locally installed pyright
    - id: pyright
      name: pyright
      entry: .venv/bin/pyright
      language: system
      types: [python]

    # run pytest with locally installed pytest
    - id: pytest
      name: pytest
      entry: .venv/bin/pytest
      language: system
      pass_filenames: false
      always_run: true
      types: [python]

    # Run Claude Code to fix markdown files
    - id: claude-markdown
      name: Claude markdown fix
      entry: scripts/claude-markdown-check.sh
      language: system
      files: \.md$

Replace shell script with Python markdown checker
  .pre-commit-config.yaml
  scripts/check_markdown.py
Due: mypy, pyright

Add custom commit command configuration
  .claude/commands/commit.md
  scripts/check_markdown.py
Due: mypy, pyright, claude-markdown

Test commit with markdown file
  scripts/check_markdown.py
Due: mypy, pyright

Test markdown hook
  .claude/commands/commit.md
Due: claude-markdown

Latest Claude Code integration changes
  .claude/commands/commit.md
  scripts/check_markdown.py
Due: mypy, pyright, claude-markdown

Add Claude Code SDK notebook example
  notebooks/001_claude_code_sdk.ipynb
Due: none

Add version management documentation and enhance bump_version script
  README.md
  scripts/bump_version.py
Due: mypy, pyright, claude-markdown
